:root {
    --primary-color: #cfd0d0;
    --secondary-color: #0c4157;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--primary-color);
}

/* Header styles start */

header {
    /*background-image: url(../Images/Wood_background3.jpeg);*/
    background-color: var(--secondary-color);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}

header h1 {
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Header Styles end */


/* Hero styles start */

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

section.hero {
    position: relative;
}

section.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Wood_background3.jpeg");
    opacity: 0.9;
    z-index: -1;
} 

.hero img {
    border-radius: 200px;
    margin: 10px 40px;
    height: 200px;
    width: 200px;
}

.hero h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 15px 20px;
    font-size: 45px;
}

.hero-name {
    opacity: .7;
    border-radius: 5px;
    background-color: var(--primary-color);
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
}
/* Hero styles end */

/* Content styles */

.content-wrapper {
    width: 90%;
    margin-bottom: 20px;
}

.content-section {
    width: 70%;
    margin-left: 25px;
}

.content-section ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-section li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.5;
}

.content-section p {
    line-height: 1.3;
}
/* content styles end */

/* title section styles */

.title-section {
    width: 30%;
    border-right: 2px solid var(--secondary-color);
    padding-right: 25px;
    text-align: right;
    font-size: 35px;
}

.title-section h3 {
    color: var(--secondary-color);
}

/* title section styles end */

/* Work grid styles start */
.work-grid {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.grid-item {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    align-items: flex-end;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 35px;
    opacity: .6;
    transition: .75s;
    background-color: aquamarine;
    grid-column-start: auto;
    grid-column-end: auto;
    background-size: cover;
}

.grid-item:hover{
    opacity: 1;
}

.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 /span 4;
    background-image: url(../Images/WorthMyTime_Screenshot.png);
    transition: 2s;
}

.grid-item p{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
}

.item-2 {
    grid-row: 1 / span 2;
    background-image: url(../Images/RunBuddy-Screenshot2.png);
}

.item-3 {
    grid-row: 3 / span 2;
    background-image: url(../Images/Horiseon_Screenshot2.png);
}

.item-4{
    grid-row: 5 / span 2;
    background-image: url(../Images/RedBag-Screenshot.png);
}

.item-5 {
    grid-row: 5 / span 2;
    background-image: url(../Images/CalculatorApp-Screenshot.png);
}

.work-grid a {
    text-decoration: none;
    display: contents;
}

.work-grid h4 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 2px;
    font-size: 25px;
}

.work {
    margin: 0 auto 20px auto;
    color: var(--secondary-color);
    flex: 1;
}

/* work grid styles end */



.contact a {
    color: var(--secondary-color);
    font-size: 20px;
}

.group {
    margin-top: 20px;
}

.section-row {
    display: flex;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 980px) {
    .title-section h3 {
        font-size: 25px;
    }
}
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        text-align: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero {
        text-align: center;
    }

    .hero-name h2 {
        font-size: 20px;
    }

    .hero-name {
        margin-bottom: 20px;
    }

    .section-row{
        width: 90%;
        padding: 30px 15px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid var(--secondary-color);
    }

    .title-section {
        border-right: none;
        text-align: center;
        margin: 0 auto 20px auto;
        width: 100%;
    }

    .work-grid {
        grid-template-columns: 1fr;
    }

    .grid-item h4 {
        font-size: 15px;
    }

    .grid-item.item-1{
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }

    .grid-item.item-2{
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
    }

    .grid-item.item-3{
        grid-row: 4 / span 1;
        grid-column: 1 / span 2;
    } 

    .grid-item.item-4{
        grid-row: 5 / span 1;
        grid-column: 1 / span 2;
    }

    .grid-item.item-5 {
        grid-row: 6 / span 1;
        grid-column: 1 / span 2;
    }

    .content-wrapper {
        margin: 0 auto;
    }

    .hero img {
        height: 150px;
        width: 150px;
        border-radius: 150px;
    }

    .hero-profile {
        width: 100%;
    }

    .content-section {
        width: 100%;
        margin: 0 auto;
    }

    .content-section li {
        display: block;
        text-align: center;
        line-height: 1.5;
    }
}