:root {
    --primary-color: #cfd0d0;
    --secondary-color: #0c4157;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles start */

header {
    /*background-image: url(../Images/Wood_background3.jpeg);*/
    background-color: var(--secondary-color);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}

header h1 {
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Header Styles end */


/* Hero styles start */
/* Hero Style Start */

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

section.hero {
    position: relative;
}

section.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Wood_background3.jpeg");
    opacity: 0.9;
    z-index: -1;
} 

.hero img {
    border-radius: 200px;
    margin: 10px 40px;
    height: 200px;
    width: 200px;
}

.hero h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 15px 20px;
    font-size: 45px;
}

.hero-name {
    opacity: .7;
    border-radius: 5px;
    background-color: var(--primary-color);
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
}
/* Hero styles end */

/* panel styles */
.left-panel {
    position: relative;
}

.left-panel::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Wood_background3.jpeg");
    opacity: 0.9;
    z-index: -1;
}

.work {
    margin: 0 auto 20px auto;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}

.work-group {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-img {
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    background-size: cover;
    position: relative;
    overflow: auto;
}

.work-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 2s;
}

.work-img h3 {
    position: relative;
    z-index: 999;
    top:200px;
    transition: 0.6s;
}




/* Media Queries Styles */

